@model Vu360Sol.ViewModel.SharedViewModels.VisitorViewModelPaginationModel
<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            <input class="form-control" id="searchInputVS" type="text" value="@Model.SearchTerm" placeholder="Search by First Name ,Last Name and Email" style="margin-bottom: 10px;">
        </div>
    </div>
    <div class="col-lg-6">

        <select id="visitorStartingdays" name="" class="form-control">
            <option value="0" selected >Today</option>
            <option value="7">Last 7 days</option>
            <option value="30">Last 30 days</option>
        </select>
    </div>
</div>
<div class="table-responsive">
    <table class="table" id="content">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Practice</th>
                <th>Date</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody id="myTable">
            @if (Model.visitorViewModels.Count() == 0)
            {
                <tr>
                    <td colspan="3" style="text-align:center;font-size:20px;font-weight:bold;">
                        No Visitor...
                    </td>
                </tr>
            }
            else
            {
                foreach (var item in Model.visitorViewModels)
                {
                    <tr id="contentrow">
                        <td>@item.FullName</td>
                        <td>@item.Email</td>
                        <td>@item.Phone</td>
                        <td>@item.Practice</td>
                        <td>@item.CreatedOn.ToShortDateString()</td>
                        <td>@item.CreatedOn.ToShortTimeString()</td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <ul class="pagination pagination-rounded mt-5">
        @if (@Model.page != null && @Model.page.TotalPages > 1)
        {

            if (@Model.page.CurrentPage > 1)
            {
                <li class="page-item" title="First">
                    <a class="pageButtonsVS page-link" data-pageno="1"><i class="icon-line-chevrons-left"></i></a>
                </li>

                <li class="page-item" title="Previous">
                    <a class="pageButtonsVS page-link" data-pageno="@(@Model.page.CurrentPage - 1)"><i class="icon-line-chevron-left"></i></a>
                </li>
            }
            for (var page = @Model.page.StartPage; page <= @Model.page.EndPage; page++)
            {
                string activeClass = @Model.page.CurrentPage == page ? "active" : string.Empty;

                <li class="page-item @activeClass">
                    <a class="pageButtonsVS page-link" data-pageno="@page">@page</a>

                </li>
            }
            if (@Model.page.CurrentPage < @Model.page.TotalPages)
            {
                <li class="page-item" title="Next">
                    <a class="pageButtonsVS page-link" data-pageno="@(@Model.page.CurrentPage + 1)"><i class="icon-line-chevron-right"></i></a>
                </li>
                <li class="page-item" title="Last">
                    <a class="pageButtonsVS page-link" data-pageno="@Model.page.TotalPages"><i class="icon-line-chevrons-right"></i></a>
                </li>
            }
        }
    </ul>
</div>
<script>
    $(".pageButtonsVS").click(function () {
        //debugger;
        var data= {
				pageNo: $(this).attr("data-pageNo"),
                search: '@Model.SearchTerm',
            UserId: $("#hfUserId").val(),
            Days: $("#visitorStartingdays").val()

        }
        visitorStartingSendRequest(data);
	});
    $('#searchInputVS').on('input', function (e) {
        var data = {
            search: $('#searchInputVS').val()
        };
        visitorStartingSendRequest(data);
    });



    function visitorStartingSendRequest(data) {
        	$.ajax({
			url: '@Url.Action("GetAllVisitorForStarting", "Dashboard")',
			data:data
		})
            .done(function (response) {
                var DDvalue = $('#visitorStartingdays').val();
                $("#partialview").html(response);
                $('#visitorStartingdays').val(DDvalue);
                var search = $("#searchInputVS");
                //search.focus();
                var strLength = search.val().length * 2;
                search[0].setSelectionRange(strLength, strLength);

            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                //alert("FAIL");
            });
    };
</script>
<script>
    $("#visitorStartingdays").change(function () {
        var data = {
            Days: $('#visitorStartingdays').val()
        };
        visitorStartingSendRequest(data);

    })
</script>
